@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Manrope, sans-serif;
  background-color: hsl(217.9, 23.5%, 15.9%);
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7rem 1.5rem;
  width: min(80%, 30rem);
  border-radius: 1rem;
  background-color: hsl(217, 19%, 24%);
}
.heading {
  color: hsl(61, 98%, 52%);
  /* color: hsl(150, 100%, 66%); */
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 0;
}
.advice-text {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
}
.animate {
  animation-duration: 1s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.divider {
  margin: 2rem 0 3rem 0;
  width: 100%;
}
.dice {
  position: absolute;
  left: 50%;
  display: grid;
  place-items: center;
  bottom: 0;
  background-color: hsl(150, 100%, 66%);
  width: 3.5rem;
  height: 3.5rem;
  transform: translate(-50%, 50%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (min-width: 700px) {
  .dice:hover {
    box-shadow: 1px 1px 20px hsl(150, 100%, 66%),
      -1px -1px 20px hsl(150, 100%, 66%);
  }
}
